.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  padding: 40px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.backdrop-is-hidden {
  transform: translate(-50%, -50%) scale(1);
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill var(--css-transition);

  &:hover,
  &:focus {
    fill: var(--accent-color);
    cursor: pointer;
  }
}

.modal-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--text-color);
  margin-top: 0;
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-check-field {
  flex-wrap: wrap;
}

.modal-form-field-descr {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color var(--css-transition);

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--css-transition);

  .modal-form-input:focus + & {
    fill: var(--accent-color);
  }
}

.modal-form-field-message {
  margin-bottom: 20px;
}

.modal-form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border-color var(--css-transition);
  display: block;

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }

  &::placeholder {
    font-size: 12px;
    line-height: 1.17;
    fill: rgba(117, 117, 117, 0.5);
  }
}

.modal-form-check-field {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.modal-form-check {
  appearance: none;
  position: absolute;
}

.modal-form-active-check {
  cursor: pointer;
  width: 16px;
  height: 15px;
  background-image: url(../images/black-checkbox.svg);
  margin-right: 10px;

  .modal-form-check:checked + & {
    border-color: var(--accent-color);
  }

  .modal-form-check:focus + & {
    box-shadow: 0 0 0 2px var(--accent-color);
    border: none;
  }
}

.modal-form-active-check-icon {
  display: none;

  .modal-form-check:checked + .modal-form-active-check & {
    display: block;
    fill: var(--accent-color);
    border: none;
  }
}

.modal-color-text {
  line-height: 1.71;
  text-align: center;
  color: var(--primary-text-color);
  width: calc(100% - 30px);
  font-size: 12px;
}

.modal-form-link {
  line-height: 1.71;
  text-align: center;
  color: var(--accent-color);
  font-size: 12px;
  padding-top: 10px;
}

.modal-form-submit {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--accent-color);
  transition: color var(--css-transition),
    background-color var(--css-transition);

  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 52px;
  padding-right: 52px;
  align-self: center;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  &:hover,
  &:focus {
    color: var(--white-color);
    background-color: var(--btn-hero-focus);
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .modal-close-btn {
    top: 13px;
  }
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }

  .modal-form-check-field {
    flex-wrap: nowrap;
  }

  .modal-form-link {
    line-height: 1.17;
    font-size: 12px;
    padding-top: 0;
  }

  .modal-color-text {
    line-height: 1.17;
    font-size: 12px;
    width: auto;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }

  .modal-form-check-field {
    justify-content: flex-start;
  }

  .modal-color-text, .modal-form-link {
    font-size: 14px;
  }
}
