:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --primary-text-color: #757575;
    --accent-color: #2196F3;
    --text-color: #212121;
    --white-color: #ffffff;
    --page-color-logo: #000000;
    --bg-hero: #2F303A;
    --btn-hero-focus: #188CE8;
    --secondary-bg-color: #F5F5F5;
    --grey-bg-color: #F5F4FA;
    --link-color: rgba(255, 255, 255, 0.6);
    --bg-footer: #2F303A;
    --grey-color-webstudio: #AFB1B8;
    --grey-color-portfolio: #EEEEEE;
    --css-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}